.msg-out {
  margin: 0;
}

.time-out {
  font-size: 10px;
}

.time-out:hover {
  font-size: 10px;
}

.all-line {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.human-msg {
  height: auto;
  float: right;
  width: auto;
  margin-top: 15px;
  margin-right: 15px;
  max-width: 250px;
  border-radius: 5px;
  color: white;
  background-color: #3d80a5;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.robot-msg:hover,
.human-msg:hover {
  width: 180%;
  height: 180%;
  font-size: 180%;
}

.robot-msg {
  height: auto;
  float: left;
  width: auto;
  margin-top: 15px;
  margin-left: 15px;
  max-width: 250px;
  border-radius: 5px;
  color: black;
  background-color: #e8dfd1;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.all-parent-style {
  width: 100%;
  height: calc(100% - (50px));
  overflow: auto;
}
